body {
    background: rgb(94, 94, 94);
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#headshot img {
    width: 100%;
    overflow: hidden;
}

#featuredvisual img {
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#nameblurb, #featured {
    text-align: center;
}

.thumbnail {
    width: 100%;
    min-width: 250px;
    max-width: 350px;
    display: inline-block;
    cursor: pointer;
}

#infographic {
    width: 100%;
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* For Dev Purposes, helps visualize Div elements */
/* div {
    border: 2px dotted black;
    padding: 5px;
    margin: 5px;
} */

/* allows a div to contain other divs with relative sizing/positioning */
.flex-container {
    display: flex;
}

/* allows divs contained by an outer div to be set side by side */
.flex-40 {
    flex: 40;
}

.flex-60 {
    flex: 60;
}